<h1 class="center">Expense Categories</h1>
<div class="beautiful_line"></div>

<% if policy(:expense_category).new? %>
    <div class="center">
      <%= link_to 'New Expense Category', new_expense_category_path , class: 'btn btn-lg btn-success', remote: true %>
    </div>
<% end %>
<br>

<table id="expense_categories"  class="table">
  <thead>
  <tr>
    <th class="col-xs-3">Name</th>
    <th class="col-xs-3">Created By</th>
    <th class="col-xs-3">Updated By</th>
    <th class="col-xs-2"></th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'expense_category', collection: @expense_categories %>
  </tbody>
</table>



