<div class="alert alert-danger">
  <% if @income_category.errors.any? %>
      <div id="error_explanation">
        <a href="#" class="close"  data-dismiss="alert" aria-label="close" title="close">×</a>
        <h2><%= pluralize(@income_category.errors.count, "error") %> prohibited this income from being saved:</h2>

        <ul>
          <% @income_category.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

</div>

