<h1 class="center">Income Categories</h1>
<div class="beautiful_line"></div>

<% if policy(:income_category).new? %>
<div class="center">
  <%= link_to 'New Income Category', new_income_category_path , class: 'btn btn-lg btn-success', remote: true %>
</div>
<% end %>
<br><br>

<table id="income_categories" class="table">
  <thead>
  <tr>
    <th class="col-xs-3">Name</th>
    <th class="col-xs-3">Created By</th>
    <th class="col-xs-3">Updated By</th>
    <th class="col-xs-2"></th>
  </tr>
  </thead>

  <tbody>
  <%= render partial: 'income_category', collection: @income_categories %>
  </tbody>
</table>
