<tr>
  <td><%= transaction.transactionable.amount  %></td>
  <td><%= transaction.transactionable.date.strftime('%d %b, %Y') %></td>
  <td><%= transaction.transactionable_type %></td>
  <td><%= transaction.transactionable.creater.name %></td>
</tr>